include /views/common

doctype html
html(lang="en")
    head
        block title
        meta(charset="utf-8")
        block stylesheets
            link(rel="stylesheet", href="/common/common.css")
    body
        block content
            p Nothing here